<section class="thirteen columns">
    <h1>About me</h1>
    <article>
      Yan Jin is a Ph.D. candidate in Industrial &amp; Systems Engineering department at the University of Washington, Seattle. He received his Bachelor's degree from the University of Science and Technology of China in 2011. His research is driven by challenging data analytics problems, emphasizs innovations on statistical modelling, system-level decision making, and quality improvment. He develops methodologies and algorithms for modelling, monitoring, diagnosis, and prognosis of complex networked system, such as smart manufacturing systems and brain connectivity networks. His dissertaion is diagnostic monitoring of complex high-dimensional networked systems. 
    </article>
</section>
