<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Ph.D. in Industrial Engineering</h1>
            <span>University of Washington</span>
            <span><address>Seattle, WA</address><time> <em class="red">Expected 2017.06</em></time></span>
        </header>
        <p>
            <!-- <em>Thesis: Diagnostic Monitoring of High-dimensional Networked Systems (with Applications in Manufacturing and Healthcare System).</em> -->
            Thesis: Diagnostic Monitoring of High-dimensional Networked Systems (with Applications in Manufacturing and Healthcare System).
        </p>
    </article>
    <article>
        <header>
            <h1>B.S. in Geophysics</h1>
            <span>University of Science and Technology of China</span>
            <span><address>Hefei, China</address><time>2007 to 2011</time></span>
        </header>
    </article>
</section>
