<section class="thirteen columns">
    <h1>Employment</h1>

    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address>City University of Hong Kong, Hong Kong</address><time>2012 to 2013</time></span>
        </header>
        <p>Implementation of online market liquid risk simulator</p>
        <p>Text mining for financial risk prediction</p>
    </article>

    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address>Huawei, Shanghai</address><time>2011 to 2012</time></span>
        </header>
        <p>Android Framework Maintenance</p>
    </article>
    
</section>
