<section class="thirteen columns">
    <h1>Employment</h1>

    <article>
        <header>
            <h1>Machine Learning Engineer</h1>
            <span><address>AiBee, Beijing</address><time>2019.04 to now</time></span>
        </header>
        <p>Recommendation</p>
    </article>

    <article>
        <header>
            <h1>Research Engineer</h1>
            <span><address>JD.com, Mountain View, CA</address><time>2017.09 to 2019.03</time></span>
        </header>
        <p>Ads ranking</p>
    </article>

    <article>
        <header>
            <h1>Decision Science Professional Intern</h1>
            <span><address>The Walt Disney Company, Orlando, FL</address><time>2017.01 to 2017.06</time></span>
        </header>
        <p>Dynamic social network structure inference in order to make better decision makings for targeted advertising</p>
        <p>Predictive and quantitative data analytics using machine learning, statistics, and optimization</p>
    </article>

    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address>Huawei, Shanghai</address><time>2011 to 2012</time></span>
        </header>
    </article>

</section>
