<section class="thirteen columns">
    <h1>SELECTED PROJECTS</h1>

    <article>
        <header>
            <h1>Brain Connectivity</h1>
            <span><a href="http://brainconnectivity.cc/"><em class="yellow">website</em></a></span>
        </header>
        <p>&rarr; Developed an interactive platform for brain connectivity learning, analysis and visualization. Written with R and Shiny. Hosted in AWS.</p>
        
        <p>&rarr; Used sparse inverse covariance estimation to model high dimensional brain connectivity network, which is more interpretable and robust than existing brain network modeling methods. </p>

        <p>&rarr; D3 JavaScript library was embedded for interactive visualization.</p>
    </article>

    <article>
        <header>
            <h1>Insight</h1>
            <span>Automatic Data Question Answering; <a href=""><em class="yellow">website</em></a></span>
        </header>
        <p>&rarr; Collaboratively working with data scientists from LinkedIn, to develop an comprehensive data mining web-based platform, to help people analyze their datasets automatically.</p>

        <p>&rarr; From machine learning aspect, common regression, classification, clustering and text mining methods were used to analyze the datasets of different types.</p>

        <p>&rarr; Artificial intelligence component: given plain text questions by users, word2vec was used to extract the intention of users, and automatically feed best answers back to users.</p>

        <p>&rarr; From technical aspect, INSIGHT project was mainly written with Go, R and SQL.</p>
    </article>
    
</section>
