<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
      <p>
        <em>Y. Jin</em>, Y. Su, XH. Zhou, and S. Huang, <i>&quot;Heterogeneous multimodal biomarkers analysis for Alzheimer's disease via Bayesian network&quot;</i>, EURASIP Journal on Bioinformatics and Systems Biology, (2016) 2016:12.
      </p>
    </article>

    <article>
      <p>
        C. Ke, <em>Y. Jin</em>, H. Evans, B. Lober, X. Qian, S. Huang, and J. Liu, <i>&quot;Prognostics of Surgical Site Infections using Dynamic Health Data &quot;</i>, Journal of Biomedical Informatics,  <em class="yellow">Accepted</em>.
      </p>
    </article>

    <article>
      <p>
        C. Xiao, <em>Y. Jin</em>, J. Liu, B. Zeng, A. Chaovalitwongse, M. Li, and S. Huang, <i>&quot;Optimal Expert Knowledge Elicitation for Bayesian Network Structure Identification&quot;</i>, submitted to Journal of Quality Technology, <em class="blue">under review</em>.  
      </p>
    </article>

    <article>
      <p>
        <em>Y. Jin</em>, S. Huang, G. Wang, and H. Deng, <i>&quot;Diagnostic Monitoring of Multivariate Process via a LASSO-BN Formulation &quot;</i>, submitted to IIE Transactions, <em class="blue">under second review</em>, <em>Best Student Paper Finalist Award</em>, INFORMS QSR subdivision, 2015.
      </p>
    </article>
</section>
